.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.root {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  margin: 2px 0;
  padding: inherit;

  background-color: inherit;
  border-radius: 50%;

  &:focus-visible {
    background-color: var(--color-dark-100);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &[data-disabled] {
    cursor: initial;
    background-color: inherit;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.125rem;
  height: 1.125rem;

  background-color: inherit;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &.disabled {
    cursor: initial;
    color: var(--color-light-700);
    border-color: var(--color-dark-100);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  cursor: pointer;
  user-select: none;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}
