.container {
  display: flex;
  flex-direction: column;
  min-width: max-content;

  & .label {
    color: var(--color-dark-100);
  }

  & .disabled {
    color: var(--color-dark-300);
  }
}

.SelectTrigger {
  all: unset;

  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: space-between;

  min-width: max-content;
  height: 1.375rem;
  padding: 0.375rem 0.75rem;

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:hover:not(&[data-disabled]) {
    cursor: pointer;
    background-color: var(--color-dark-100);
  }

  &:focus-visible:not(&[data-disabled]) {
    outline: 2px solid var(--color-info-700);
  }

  &[data-disabled] {
    color: var(--color-dark-300);
  }
}

.SelectIcon {
  width: 1rem;
  height: 1rem;
}

.SelectTrigger[data-state='open'] {
  .SelectIcon {
    transform: rotate(180deg);
  }
}

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.SelectItem {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0.375rem 0.75rem;
}

.SelectItem[data-disabled] {
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}
