.avatar_root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;

  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-500);

  background-color: white;
  border-radius: 50%;

  &.avatar_small {
    width: 2.2rem;
    height: 2.2rem;
    font-size: var(--font-size-m);
  }
}

.avatar_img {
  width: 101%;
  height: 101%;
  background-color: var(--color-dark-700);
  border-radius: 50%;
}
