.container {
  background-color: var(--color-dark-500);

  & th {
    padding: 0.375rem 1.5rem;
    text-align: left;
    background-color: var(--color-dark-500);

    & > span {
      pointer-events: none;

      position: relative;

      display: flex;
      gap: 0.25rem;
      align-items: center;

      width: max-content;

      & > svg {
        transform: rotate(180deg);
        transition: 0.2s transform ease-in-out;
      }
    }

    & .arrow {
      position: absolute;
      right: -1.875rem;
    }

    & .arrowDown {
      transform: rotate(0deg);
    }
  }

  th[data-sortable='true'] {
    cursor: pointer;
    user-select: none;
  }
}
