.dialogOverlay {
  background-color: var(--color-dark-900);
  opacity: 0.7;
  position: fixed;
  inset: 0;
}

.dialogContent {
  background-color: var(--color-dark-700);
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 33.25rem;
  width: 100%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color-dark-500);
}

.contentBody {
  padding: 1.12rem 1.5rem 0;
}


@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}