.trigger {
  all: unset;
  cursor: pointer;

  &:focus {
    border-radius: 5px;
    outline: 1px solid var(--color-dark-100);
  }
}

.content_container {
  position: relative;
  z-index: 100;
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-right: 0;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  animation: scale-in 0.1s ease-out;
}

.item {
  padding: 0.25rem 0.3rem;

  &:focus {
    border: none;
    outline: none;
  }
}

.separator {
  width: calc(100% - 0.625rem);
  height: 1px;
  margin: 0 auto;
  background-color: var(--color-dark-500);
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
