.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 26.25rem;
  padding: 2.063rem 2.25rem 1.813rem;

  & > h2 {
    margin-bottom: 1.688rem;
  }

  & > form {
    width: 100%;

    .input {
      &:not(:nth-child(3)) {
        margin-bottom: 1.5rem;
      }

      &:nth-child(3) {
        margin-bottom: 3.75rem;
      }
    }

    .button_submit {
      margin-bottom: 1.25rem;
    }
  }

  .text_bottom {
    margin-bottom: 0.688rem;
  }

  .link_sign_in {
    margin: 0 auto;
    text-decoration: underline;
  }
}
