.container {
  td {
    overflow: hidden;
    max-width: 300px;
    padding: 0.375rem 1.5rem;
    border-bottom: 1px solid var(--color-dark-500);

    &:last-child {
      text-align: right;
    }
  }
}
