.pageButton {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;

  border-radius: 0.125rem;

  &:hover:not(.selected) {
    background-color: var(--color-dark-500);
  }
}

.selected {
  color: var(--color-dark-900);
  background-color: var(--color-light-100);

  &:hover {
    background-color: var(--color-light-100);
  }
}
