.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 26.25rem;
  padding: 2.06rem 2.25rem 1.81rem;

  .title {
    margin-bottom: 3.19rem;
  }

  form {
    width: 100%;

    .input {
      margin-bottom: 1.19rem;
    }

    .description {
      margin-bottom: 4.06rem;
      color: var(--color-light-900);
      opacity: 0.5;
    }

    .button {
      margin-bottom: 1.25rem;
    }
  }

  .bottomText {
    margin-bottom: 0.69rem;
    color: var(--color-light-900);
  }

  .link {
    text-decoration: underline;
  }
}
