@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-text-primary);

  &.secondary {
    color: var(--color-text-secondary);
  }

  &.inherit {
    color: inherit;
  }
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}
