.containre {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 26.25rem;
  width: 100%;

  padding: 2.06rem 2.25rem 3.75rem;
  .title {
    margin-bottom: 3.19rem;
  }
  .form {
    .input {
      margin-bottom: 1.19rem;
    }
    .description {
      color: var(--color-light-900);
      opacity: 0.5;
      margin-bottom: 2.56rem;
    }
  }
}