.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.06rem 2.25rem 1.81rem;
  max-width: 26.25rem;
  width: 100%;

  .title {
    margin-bottom: 51px;
  }

  form {
    width: 100%;
    .input {
      margin-bottom: 19px;
    }
    .body2 {
      color: var(--color-light-900);
      opacity: 0.5;
      margin-bottom: 65px;
    }
    .button {
      margin-bottom: 20px;
    }
  }
  .body2 {
    color: var(--color-light-900);
    margin-bottom: 11px;
  }
  .link {
    text-decoration: underline;
  }
}
