.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.06rem 2.25rem 1.81rem;
  max-width: 26.25rem;
  width: 100%;

  .title {
    margin-bottom: 3.19rem;
  }

  form {
    width: 100%;
    .input {
      margin-bottom: 1.19rem;
    }
    .description {
      color: var(--color-light-900);
      opacity: 0.5;
      margin-bottom: 4.06rem;
    }
    .button {
      margin-bottom: 1.25rem;
    }
  }
  .bottomText {
    color: var(--color-light-900);
    margin-bottom: 0.69rem;
  }
  .link {
    text-decoration: underline;
  }
}
